{% include "header.html" %}

<head>
    <meta charset="UTF-8">
    <title>Murcia Cafés | CaFi - Find Your Spot</title>
    <meta name="description" content="Discover and compare Murcia cafés for work or study. Find information on opening times, seating, power sockets, location, Wi-Fi speeds, and more.">
</head>

<body>
    <section id="landing">
        <div class="container fade-in">
            <div class="row">
                <div class="col-6 image-column">
                    <div class="image-wrapper">
                        <img src="/static/images/1.jpg" class="title-image i1" alt="">
                    </div>
                    <div class="image-wrapper">
                        <img src="/static/images/2.jpg" class="title-image i2" alt="">
                    </div>
                    <div class="image-wrapper">
                        <img src="/static/images/3.jpg" class="title-image i3" alt="">
                    </div>
                </div>
                <div class="col-6 title-column">
                    <h1>Find Your Spot</h1>
                </div>
            </div>
        </div>
    </section>



    <section id="features">
        <div class="container fade-in">
            <h1>Looking for somewhere to study or work?</h1>
            <div class="row">
                <div class="features-box col-lg-4 col-md-12">
                    <i class="fa-solid fa-mug-hot fa-7x"></i>
                    <h3 class="features-header">Amenities</h3>
                    <p class="features-para">From coffee shops to bars, find new places to work or study, based on your needs.</p>
                    <p class="features-para"></p>
                </div>
                <div class="features-box col-lg-4 col-md-12">
                    <i class="fa-solid fa-info fa-7x"></i>
                    <h3 class="features-header">Need to know</h3>
                    <p class="features-para">Information on opening times, seating, power sockets, location, website and more.</p>
                </div>
                <div class="features-box col-lg-4 col-md-12">
                    <i class="fa-solid fa-wifi fa-7x"></i>
                    <h3 class="features-header">Wi-Fi Strength</h3>
                    <p class="features-para">Need Wi-Fi? We've checked everywhere listed, with up-to-date speeds listed if Wi-Fi is available.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="cta">
        <div class="container fade-in">
            <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for cafe in cafes %}
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for cafe in cafes %}
                    <div class="carousel-item{% if loop.first %} active{% endif %}" data-bs-interval="10000">
                        <a href="{{ url_for('cafes', cafe=cafe.id) }}">
                            <img src="{{ url_for('static', filename='images/cafes/' + cafe.name + '/' + cafe.logo_image_path) }}" class="carousel-image" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>{{ cafe.name }}</h3>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


            <div class="row">
                <div class="col-12">
                    <h1>Explore Murcia</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{{ url_for ('all_cafes') }}" class="btn btn-outline-light" role="button">Cafés</a>
                </div>
            </div>
        </div>
    </section>

<script>
    // Function to handle the intersection observer callback
    function handleIntersection(entries, observer) {
      entries.forEach(function (entry) {
        if (entry.isIntersecting) {
          entry.target.classList.add('visible');
          observer.unobserve(entry.target);
        }
      });
    }

    // Function to set up the intersection observer
    function setupIntersectionObserver() {
      var fadeElements = document.getElementsByClassName('fade-in');
      var options = {
        root: null,
        rootMargin: '0px',
        threshold: 0.3
      };

      var observer = new IntersectionObserver(handleIntersection, options);

      for (var i = 0; i < fadeElements.length; i++) {
        observer.observe(fadeElements[i]);
      }
    }

    // Attach the setupIntersectionObserver function to the DOMContentLoaded event
    window.addEventListener('DOMContentLoaded', setupIntersectionObserver);

</script>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

{% include "footer.html" %}
